# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Data files
data/*.db
data/*.csv
data/*.csv.gz
data/*.parquet
data/raw/
data/processed/
data/shots/



# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

